body{
    background-color: #423f3f;
    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image{
    /* margin-top: 80px; */
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: flex;
}

.StativImageDiv{
    width: 40%;
    display: inline;
    float: right;
    margin-left: 60%;
    height: 400px;
}

.staticImage{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.imageDiv{
    margin-top: 10%;
    width: 60%;
    margin-left: 80px;
    height: 500px;
    flex: 2;
    border: 5pt solid aquamarine;
}
