
 .aboutUs{
    width: 30px;
    margin-right: 20px;
    color: white;
    display: inline;
   }
  
   .signIn{
    width: 30px;
    margin-right: 20px;
    /* margin-left: 60%; */
    color: white;
   }
  
   .LogIn{
    width: 30px;
    margin-right: 20px;
    color: white;
   }
  
  
   .menu{
    margin-left: 40%;
   }
  
   .contacUs{
    margin-right:10px ;
    width: 10px;
   }